@import url(../../geral/css/estilos_gerais.css);

/* ----------------- */
/* Formatação tabela */
/* ----------------- */

.tabelas {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}

.tabela-estilo{
  padding: 20px 0px;
  margin-inline: 10px;
  background-color: var(--cor-branco);
  min-width: 55%;
  border-radius: 15px;
  border-color: var(--borda-input);
  box-shadow: 2px 3px 5px 1px rgba(109, 109, 109, 0.1);
  height: 60vh;
}

.tabela-header{
  display: flex;
  padding-inline: 20px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.tabela-container {
  display: flex;
  position: relative;
  margin: 10px;
  justify-content: center;
  overflow-x: visible;
  overflow-y: auto;
}

.tabela-user {
  cursor: cell;
}

.tabela-user thead {
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.tabela-user th {
  border: 1px solid var(--borda-vertical);
  text-align: center;
  min-width: 50px;
  padding: 5px 10px;
  font-weight: 100;
}

.tabela-user td {
  padding: 5px 10px;
  color: var(--cor-fonte);
  background-color: white;
  border: 1px solid var(--borda-vertical);
  border-bottom: 1px solid var(--borda-bottom);
  max-width: 200px;
}

.title {
  background-color: var(--fundo-tabela-th);
  white-space: nowrap;
  color: white;
  text-align: center;
  cursor: cell;
}

/* -------------------- */
/* Botão Editar/Excluir */
/* -------------------- */
.botao-del-editar {
  background-color: var(--cor-branco);
  color: var(--botoes-pedidos);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao-del-editar:hover {
  color: var(--botoes-pedidos-hover);
}

i {
  font-size: 20px;
}

button {
  background-color: var(--cor-branco);
  color: var(--botoes-pedidos);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  color: var(--botoes-pedidos-hover);
}

/* ------ */
/* Pop Up */
/* ------ */
.delete-popup {
  position: absolute;
  background-color: var(--cor-branco-popup);
  border: 1px solid var(--borda-popup);
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
  display: block;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.btn {
  display: inline-block;
  text-align: center;
  background-color: var(--botoes-pedidos);
  color: var(--cor-escrita-botao);
  border: none;
  height: 100%;
  width: auto;
  padding: 5px 10px;
  margin: auto 5px;
  font-size: small;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--cor-escrita-botao);
  background-color: var(--botoes-pedidos-hover);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.btn i {
  margin-right: 5px;
}

.btn-inverse {
  display: inline-block;
  text-align: center;
  background-color: var(--cor-escrita-botao);
  color: var(--botoes-pedidos);
  border: var(--botoes-pedidos);
  height: 100%;
  width: auto;
  padding: 5px 10px;
  margin: auto 5px;
  font-size: small;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-inverse:hover {
  color: var(--cor-escrita-botao);
  background-color: var(--botoes-pedidos-hover);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.btn-inverse i {
  margin-right: 5px;
}

h4 {
  font-family: var(--fonte-heading);
  font-size: 30px;
  text-align: center;
}